body {
font-family: 'Bangers', cursive;
}
.parallax {
  /* The image used */
  background-image: url("img/bg.jpg");

  /* Set a specific height */
  min-height: 200px;

  /* Create the parallax scrolling effect */
  display: none;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
border-radius: 8px;
padding: 14px 40px;
font-size: 24px;
background-color: #f44336;
}

.green {
  background-color: #4CAF50;
}
.yellow {
  background-color: #ffd85e;
}
#dialogue {
  padding: 100px;
}
